.main-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

input[type=text] {
    width: 10%;
    box-sizing: border-box;
    font-size: 15px;
}
input[type=button]{
    width: 10%;
    font-size: 15px
}

TD, TH {
    text-align: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}